
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0b0f19;
    color: #f0f4f8
}
body h1 {
    text-align: center;
    margin: 20px 0;
    color: #58a6ff;
}

.galleryContainer {
    background-color: #0b0f19;
    color: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.galleryItem {
    background-color: #161b26;
    color: #c9d1d9;
    margin: 0;
    width: calc(25% - 20px);
    box-sizing: border-box;
    border: 1px solid #222b3d;
    padding: 12px;
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4), 
    0 0 15px rgba(0, 168, 255, 0.05); 
  
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.galleryItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5), 
              0 0 20px rgba(0, 168, 255, 0.2); /* Свечение становится ярче */
}

@media (min-width: 768px) {
    .galleryItem {
    flex: 0 0 calc(50% - 10px); 
    }
}

@media (min-width: 1024px) {
    .galleryItem {
    flex: 0 0 calc(25% - 15px); 
    }
}

.galleryItem img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.galleryItem figcaption {
  text-align: center; 
  padding-top: 12px;
  font-size: 14px;
}

footer {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    background-color: #161b22;
    color: #c9d1d9;
}